<div *ngFor="let bid of bids">
  <h2>All Bids</h2>
  <p>Nom : {{ bid.name }}</p>
  <p>Client : {{ bid.customerName }}</p>
  <p>Statut : {{ bid.status }}</p>
  <button (click)="openStatusModal(bid)">Modifier le statut</button>
  <button (click)="deleteBid(bid)" class="flex items-center space-x-2 bg-red-500 text-white p-3 rounded-full shadow-lg">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <span>Supprimer</span>
  </button>



</div>

<!-- Formulaire de modification du statut -->
<div *ngIf="selectedBid">
  <form #bidForm="ngForm" (ngSubmit)="updateBidStatus()">
    <label for="newStatus">New Status</label>
    <select id="newStatus" [(ngModel)]="newStatus" name="newStatus">
      <option value="IN PROGRESS">IN PROGRESS</option>
      <option value="DONE">DONE</option>
    </select>
    <button type="submit">Update</button>
  </form>
</div>
